/*1. Base*/
body {
	margin: 0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header, footer {
	background-color: #1F2937;
}

/*Layout*/
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}

/*2. Components*/

.button-style {
	padding: 10px 25px;
	background-color: #3882f6;
	color: #f9faf8;
	font-weight: 900;
	border-radius: 10px;
}


.information-img {
	border: 5px solid #3882f6;
	border-radius: 8px;
	width: 200px;
	height: 200px;
}

/*3. Section*/

/*Header*/
header {
	align-items: center;
}
header > div {
	max-width: 1200px;
}
.h-top > p, .h-top > nav {
	flex: 1; 
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
}

nav ul {
	gap: 25px;
	list-style: none;
}

.h-top a {
	text-decoration: none;
}

.h-ads {
	flex: 0 1 530px;
}
.h-img {
	flex: 0 1 auto;
}
.h-img img {
	width: 520px;
  	height: 200px;
}

.h-ads > h2 {
	font-size: 48px;
	color: #f9faf8;
	font-weight: 900;
}
.h-ads > p, .h-top a {
	font-size: 18px;
	color: #E5E7EB;
}


/*information*/

.information-title {
	text-align: center;
}
.information-title > h2 {
	font-size: 36px;
	color: #1f2937;
	font-weight: 900;
}
.information-gallery {
	justify-content: center;
}

figure {
	text-align: center;
}

/*.information-gallery img {
	width: 200px;
	height: 200px;
}*/

/*quote*/

.quote {
	justify-content: center;
	background-color: #E5E7EB;
}

.quote > div {
	    flex: 0 1 800px;
}
blockquote {
	margin: 0;
	font-size: 36px;
	color: #1f2937;
	font-weight: 300;
}
.quote cite {
	align-self: end;
	font-weight: bold;
}

/*call*/

.call {
	justify-content: center;
}

.call > div {
	flex: 0 0 900px;
	justify-content: space-around;
	background-color: #3882f6;
	color: #F9FAF8;
}
.call-title {
	font-weight: bold;
}
.call-button {
	align-self: center;
} 
.call-button button {
	border: 3px solid white;

}

/*footer*/

footer {
	justify-content: center;
	color: #F9FAF8;
}

