/*1. Base*/
body {
	margin: 0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
}

header, footer, .hero {
	background-color: #1F2937;
}

.h-ads > p, .header-links a {
	font-size: 18px;
	color: #E5E7EB;
}

/*Layout*/

.flex {
	display: flex;
}
.column {
	flex-direction: column;
}

/*2. Components*/

.button-style {
	padding: 10px 25px;
	background-color: #3882f6;
	color: #f9faf8;
	font-weight: 900;
	border-radius: 10px;
}


.information-img {
	border: 5px solid #3882f6;
	border-radius: 8px;
	width: 200px;
	height: 200px;
}

/*3. Section*/

/*Header*/
header {
	align-items: center;
	display: flex;
	justify-content: space-around;
	gap: 240px; /*Para alinhar o header com o hero*/
}

.logo {
	color: #F9FAF8;
	font-size: 24px;
}

.header-links {
	gap: 25px;
	list-style: none;
	display: flex;
}

.header-links a {
	text-decoration: none;
}
nav {
	align-self: center;
}


/*Main*/

main {
	display: flex;
	flex-direction: column;
}

/*Hero*/

.hero {
    	display: flex;
    	justify-content: center;
	gap: 50px;
	padding-top: 100px;
	padding-bottom: 200px;

}

.h-ads {
	flex: 0 1 530px;
}
.h-img {
	flex: 0 1 auto;
}
.h-img img {
	width: 520px;
  	height: 200px;
}

.h-ads > h2 {
	font-size: 48px;
	color: #f9faf8;
	font-weight: 900;
}
.h-ads > p, .h-ads > h2 {
	margin: 0;
}
.h-ads > button {
	margin-top: 10px;
}

/*information*/

.information {
	padding-bottom: 100px;
}

.information > div {
	display: flex;
	flex-direction: column;
}

.information-title > h2 {
	font-size: 36px;
	color: #1f2937;
	font-weight: 900;
	text-align: center;
}
.information-gallery {
	display: flex;
	justify-content: center;
}

figure {
	text-align: center;
}

/*quote*/

.quote {
	justify-content: center;
	background-color: #E5E7EB;
	padding-top: 80px;
    	padding-bottom: 80px;
	display: flex;
}

.quote > div {
	    flex: 0 1 800px;
}
blockquote {
	margin: 0;
	font-size: 36px;
	color: #1f2937;
	font-weight: 300;
	display: flex;
	flex-direction: column;
}
.quote cite {
	align-self: end;
	font-weight: bold;
}

/*call*/

.call {
	justify-content: center;
	padding-top: 80px;
    	padding-bottom: 80px;
	display: flex;
}

.call > div {
	flex: 0 0 900px;
	justify-content: space-around;
	background-color: #3882f6;
	color: #F9FAF8;
	padding: 45px;
	border-radius: 8px;
	display: flex;
}
.call-title {
	font-weight: bold;
}
.call p {
	margin: 0;
}
.call-button {
	align-self: center;
} 
.call-button button {
	border: 3px solid white;

}

/*footer*/

footer {
	justify-content: center;
	color: #F9FAF8;
	padding-top: 20px;
    	padding-bottom: 20px;
	display: flex;
}

