/*1. Base*/
body {
	margin: 0;
}

/*Layout*/
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
/*.center-column {
	align-items: center;
}*/

/*2. Components*/

/*3. Section*/

/*Header*/
header {
	align-items: center;
}
header > div {
	max-width: 1200px;
}
.h-top > p, .h-top > nav {
	flex: 1; 
}
nav ul {
	gap: 25px;
}
.h-ads {
	flex: 0 1 530px;
}
.h-img {
	flex: 0 1 auto;
}
.h-img img {
	width: 520px;
  	height: 200px;
}

/*information*/

.information-title {
	text-align: center;
}
.information-gallery {
	justify-content: center;
}

.information-gallery img {
	width: 200px;
	height: 200px;
}

/*quote*/

.quote {
	justify-content: center;
}

.quote > div {
	    flex: 0 1 800px;
}
blockquote {
	margin: 0;
}
.quote cite {
	align-self: end;
}
